/* HangmanGame.css */
.hangman-container {
	text-align: center;
	padding: 20px;
	background-color: #f2f2f2;
	border-radius: 10px;
	box-shadow: 10 10 10px rgba(0, 0, 0, 0.2);
}

h1 {
	color: #333;
}

.word-display {
	margin: 20px;
	font-size: 24px;
	display: flex;
	justify-content: center;
}

.letter {
	margin: 0 5px;
	font-size: 24px;
	display: inline-block;
	border-bottom: 2px solid #333;
	padding-bottom: 5px;
	transition: all 0.3s ease;
}

.letter.guessed {
	color: rgb(112, 159, 195);
	border-bottom: 2px solid green;
}

.keyboard {
	margin: 20px;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 10px;
}

.keyboard button {
	font-size: 18px;
	padding: 10px 15px;
	background-color: #4c8eaf;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.keyboard button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

.keyboard button:hover {
	background-color: #95e1fd;
}

.result-message {
	font-size: 24px;
	font-weight: bold;
	margin: 20px 0;
	color: #000000;
}

.new-game-button {
	font-size: 18px;
	padding: 10px 15px;
	background-color: #2196f3;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
	transition: all 0.3s ease;
}

.new-game-button:hover {
	background-color: #0b7dda;
}
